@charset "UTF-8";
#footer {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

#footer .f-bot .f-social li {
  margin: 0; }
.menu-item{
    width: 100%;
    height:100%;
    margin: auto;
    position: relative;
}
.main-item{
    height:408px;
    margin-bottom: 5px;
    overflow: hidden;
}
.list-image{
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
}
.list-image div{
    flex:1;
    padding: 5px;
    display: none;
}
.img3{
    width: 100%;
    height:95px;
    object-fit:cover;
    object-position: center;
    cursor: pointer;
}
.img4{
    width: 100%;
    height:408px;
    object-fit:fill;
    object-position: center;
    cursor: pointer;
}
.img-feature{
    transition: 1s;
}
.control{
    position: absolute;
    top:210px;
    font-size: 50px;
    color:white;
    cursor: pointer;
    transform: translateY(-50%);
}
.prev{
    height:120px;
    padding-top: 30px;
    margin-left: 5px;
	opacity: 60%;

}
.next:hover{
    opacity: 100%;
}
.prev:hover{
    opacity: 100%;
}
.next{
    height:120px;
    padding-top:30px;
    left: 97%;
	opacity: 60%;
}

.slider-dots{
    position:absolute;
    transform:translateX(-50%);
    display:flex;
    margin-left: 50%;
    justify-content:center;
    align-items:center;
    list-style:none;
    z-index:10;
    margin-top: -33px;
    opacity:60%;
}
.slider-dots li {
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    background-color: #999;
    cursor: pointer;
    transition: background-color 0.25s linear;
  }
  .slider-dots li.active2 {
    background-color: white;
  }