@charset "UTF-8";
.header-pl .h_account:after, .h_menu .container .h_menu__main > li .h_menu__sub ul:after, #home-map .map-info:after, #home-map .map-info .map-info__list .map-list-store li:after {
  display: block;
  content: '';
  clear: both; }

.header-pl .h_delivered a:hover img {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px; }

.no-margin {
  margin-left: 0;
  margin-right: 0; }

.padding-5 {
  padding-left: 5px;
  padding-right: 5px; }

.padding-10 {
  padding-left: 10px;
  padding-right: 10px; }

.no-padding {
  padding-left: 0;
  padding-right: 0; }

.no-padding-left {
  padding-left: 0; }

.no-padding-right {
  padding-right: 0; }

.flex-box,
.display-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
.text-black {
  color: black; }

.text-white {
  color: white; }

.text-primary {
  color: #0C713D; }

.text-green {
  color: green; }

.white {
  background-color: white; }

.black {
  background-color: #010101;
  color: #fff; }

.orange-light {
  background-color: #FAC437; }
.thumbCover_16_9:before {
  padding-top: 56%; }

.thumbCover_4_3:before {
  padding-top: 75%; }

.thumbCover_2_1:before {
  padding-top: 50%; }

.thumbCover_1_2:before {
  padding-top: 200%; }

.thumbCover_30:before {
  padding-top: 30%; }

.thumbCover_35:before {
  padding-top: 35%; }

.thumbCover_40:before {
  padding-top: 40%; }

.thumbCover_45:before {
  padding-top: 45%; }

.thumbCover_52:before {
  padding-top: 52%; }

.thumbCover_55:before {
  padding-top: 55%; }

.thumbCover_57:before {
  padding-top: 57%; }

.thumbCover_60:before {
  padding-top: 60%; }

.thumbCover_63:before {
  padding-top: 63%; }

.thumbCover_65:before {
  padding-top: 65%; }

.thumbCover_66:before {
  padding-top: 66%; }

.thumbCover_68:before {
  padding-top: 68%; }

.thumbCover_70:before {
  padding-top: 70%; }

.thumbCover_75:before {
  padding-top: 75%; }

.thumbCover_80:before {
  padding-top: 80%; }

.thumbCover_90:before {
  padding-top: 90%; }

.thumbCover_92:before {
  padding-top: 92%; }

.thumbCover_123:before {
  padding-top: 123%; }

@font-face {
  font-family: 'MillerBold';
  src: url("../fonts/MillerText-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'MillerBoldItalic';
  src: url("../fonts/MillerText-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'MillerItalic';
  src: url("../fonts/MillerText-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Miller';
  src: url("../fonts/MillerText-Roman.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }



body {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #171717; }
  @media only screen and (max-width: 767px) {
    body {
      font-size: 13px; } }

a {
  transition: all 0.2s linear;
  color: inherit; }
  a:hover, a:focus {
    color: inherit;
    outline: 0;
    text-decoration: none; }

p {
  margin-bottom: 10px; }
  p:last-child {
    margin-bottom: 0; }
.icon-pli-search-icon:before {
  content: "\e902";
  color: #000; }

.icon-pli-shopping-cart:before {
  content: "\e903"; }

.icon-pli-rating-fill:before {
  content: "\e904";
  color: #17703e; }

.icon-pli-rating-line:before {
  content: "\e905";
  color: #17703e; }

.icon-pli-mooncake:before {
  content: "\e92c";
  color: #fff; }

.icon-pli-coffee-bag:before {
  content: "\e92d";
  color: #fefefe; }

.icon-pli-tea-bag:before {
  content: "\e92e";
  color: #fefefe; }

.icon-pli-arrow-left:before {
  content: "\e926";
  color: #000; }

.icon-pli-arrow-right:before {
  content: "\e927";
  color: #000; }

.icon-pli-leaf-fill:before {
  content: "\e928";
  color: #0c713d; }

.icon-pli-leaf-line:before {
  content: "\e925";
  color: #0c713d; }

.icon-pli-paper-cup:before {
  content: "\e924";
  color: #fff; }

.icon-pli-coffee-cup-fill:before {
  content: "\e900";
  color: #0c713d; }

.icon-pli-coffee-cup-line:before {
  content: "\e901"; }
.btn {
  font-family: 'Muli', sans-serif;
  transition: all 0.2s linear;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  color: white;
  font-size: 13px;
  padding: 7px 12px; }
  .btn.m-progress {
    position: relative;
    color: transparent;
    text-shadow: none;
    pointer-events: none; }
    .btn.m-progress:focus {
      color: transparent;
      text-shadow: none;
      outline: none; }
    .btn.m-progress:before {
      content: '';
      display: inline-block;
      position: absolute;
      background: transparent;
      border: 1px solid #fff;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-radius: 50%;
      box-sizing: border-box;
      top: 50%;
      left: 50%;
      margin-top: -12px;
      margin-left: -12px;
      width: 24px;
      height: 24px;
      -webkit-animation: ld 1s ease-in-out infinite;
              animation: ld 1s ease-in-out infinite; }
  .btn.hover, .btn:hover {
    color: #0C713D;
    border-color: #0C713D;
    background-color: transparent; }
  .btn:active, .btn:focus {
    color: white;
    outline: none; }
  .btn.btn-default {
    color: #0C713D;
    border-color: #0C713D; }
    .btn.btn-default:hover {
      background-color: #0C713D;
      color: #fff; }
  @media only screen and (max-width: 991px) {
    .btn.xs-full {
      width: 100%; } }
.btn-primary {
  background-color: #0C713D;
  border-color: #0C713D; }
@media only screen and (max-width: 991px) {
  .job-list > .items {
    width: calc(100%/2 - 15px);
    margin-right: 15px; } }

@media only screen and (max-width: 767px) {
  .job-list {
    display: block;
    margin: 0 -8px; }
    .posts-relative > .job-list {
      margin: 0 2px 50px; }
    .job-list > .items {
      width: 100%; }
      .job-list > .items .text {
        font-size: 0.9em;
        padding: 5px 0 2px; } }

.main-full {
  margin-top: 108px; }
  @media only screen and (max-width: 1199px) {
    .main-full {
      margin-top: 78px; } }

.header {
  background: #c81f34;
  height: auto;
  color: #FFFFFF;
  position: relative;
  z-index: 500; }
  .header > .menu_toggle {
    display: none; }
  .header > .logo {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    z-index: 10;
    margin-top: -1.6vw; }
    .header > .logo > .logo-img {
      display: block;
      margin: 0 auto;
      -webkit-transform: translateY(30%);
          -ms-transform: translateY(30%);
              transform: translateY(30%);
      width: 70%; }
      .header > .logo > .logo-img > .img-full-width {
        width: auto;
        max-width: 140px; }
  .header > .menubar {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }
  .header .assist {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .header .assist .dropdown-menu {
      width: auto;
      min-width: 0;
      white-space: nowrap;
      border-radius: 0;
      margin: 0;
      text-transform: capitalize; }
      .header .assist .dropdown-menu > li > a {
        color: black;
        background: transparent;
        padding: 5px 12px; }
        .header .assist .dropdown-menu > li > a:hover {
          color: #E97C00; }
      .header .assist .dropdown-menu > li .btn-logout {
        font-family: 'Muli', sans-serif;
        display: block;
        width: 100%;
        text-align: left;
        background: transparent;
        border-radius: 0;
        padding: 3px 12px;
        color: black;
        font-weight: normal;
        font-size: inherit;
        text-transform: none; }
        .header .assist .dropdown-menu > li .btn-logout:hover {
          color: #E97C00; }
        .header .assist .dropdown-menu > li .btn-logout > .fa {
          margin: 0 0.5rem;
          vertical-align: -2px; }
    .header .assist > .dropdown > .btn {
      font-size: inherit; }
      .header .assist > .dropdown > .btn > .fa-value-1 {
        font-size: 1.2em;
        vertical-align: -4px; }
    .header .assist > .btn-icon {
      width: 36px;
      height: 36px; }
      .header .assist > .btn-icon > .fa {
        line-height: 38px; }
      .header .assist > .btn-icon.login {
        margin-right: 30px; }
        .group-show .header .assist > .btn-icon.login, .group-showgart .header .assist > .btn-icon.login {
          display: none; }
    .header .assist > .lang {
      margin: 0 1rem; }
      .header .assist > .lang > .lang-item:hover, .header .assist > .lang > .lang-item.active {
        color: #FAC437; }
  .header > .logo-phone {
    padding: 1rem;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
    .header > .logo-phone > .logo-phone-img {
      display: block;
      margin: 0 auto; }
      .header > .logo-phone > .logo-phone-img:hover {
        -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
                animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        -webkit-perspective: 1000px;
                perspective: 1000px; }
  .header .list-inline > .menu-item {
    margin-top: 1rem;
    font-family: 'Muli', sans-serif;
    font-size: 0.8125rem; }
    .header .list-inline > .menu-item > a {
      display: block;
      padding: 13px 5px;
      border-radius: 10px 10px 0 0; }
      .header .list-inline > .menu-item > a.active {
        color: #950E08;
        background-color: rgba(255, 255, 255, 0.8); }
    .header .list-inline > .menu-item:hover > a {
      color: #950E08;
      background-color: rgba(255, 255, 255, 0.8); }
    .header .list-inline > .menu-item:hover > .menulist {
      visibility: visible;
      opacity: 1; }
  .header .menulist {
    visibility: hidden;
    opacity: 0;
    width: 110%;
    position: absolute;
    left: -5%;
    right: 0;
    background: #F4D2D6;
    border-radius: 0 0 20px 20px;
    z-index: 99;
    transition: all 0.2s linear; }
    .header .menulist > ul {
      text-align: center; }
    .header .menulist li {
      display: inline-block;
      padding: 10px;
      overflow: hidden; }
      .header .menulist li .menulist-img {
        max-width: 6.25rem;
        margin: 0 auto 10px;
        transition: all 0.2s ease-in 0s;
        display: inline-block;
        vertical-align: middle; }
      .header .menulist li h5 {
        color: #411e10;
        font-family: 'Muli', sans-serif;
        font-size: 0.75rem; }
      .header .menulist li:hover .menulist-img {
        -webkit-transform: scale(1.2) translateZ(0);
                transform: scale(1.2) translateZ(0); }

/*phuc long*/
.header-pl {
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  box-shadow: 1px 2px 3px #ccc;
  z-index: 999; }
  .header-pl .h_top {
    border-bottom: 3px solid #F5F5F5;
    padding: 10px 0 5px;
    position: relative; }
  .header-pl .h_delivered {
    width: 20%;
    float: left;
    padding-top: 10px; }
    @media only screen and (max-width: 991px) {
      .header-pl .h_delivered {
        width: 30%;
        margin-top: 0;
        padding-top: 0; } }
  .header-pl .h_logo {
    width: 50%;
    float: left;
    position: relative;
    display: block;
    /*height: 68px;*/
    height: 50px; }
    .header-pl .h_logo .h_logo__img {
      height: 100px;
      width: 100%; }
      @media only screen and (min-width: 1200px) {
        .header-pl .h_logo .h_logo__img {
          /*   position: absolute;
                top: -10px;*/ } }
    .header-pl .h_logo img {
      /*height: 70px;*/
      /*max-width: 100px;*/
      max-width: 70px; }
      @media only screen and (max-width: 991px) {
        .header-pl .h_logo img {
          position: relative;
          left: auto;
          top: auto;
          margin: 0 auto;
          /*  height: 50px;
                width: 60px;*/ } }
  .header-pl .h_right {
    width: 30%;
    float: right;
    padding-top: 10px; }
  .header-pl .h_account {
    float: right;
    font-size: 14px;
    margin-top: 7px;
    margin-right: 65px;
    /*logged in*/ }
    .header-pl .h_account .btn.dropdown-toggle {
      color: inherit;
      text-transform: none; }
    .header-pl .h_account > a {
      /*margin-top: 15px;*/
      float: left;
      padding: 0 10px;
      font-weight: 700; }
      .header-pl .h_account > a span {
        display: block; }
      .header-pl .h_account > a i {
        font-size: 20px;
        color: #0C713D;
        display: none; }
    @media only screen and (max-width: 991px) {
      .header-pl .h_account {
        color: #666666; } }
  .header-pl .h_cart {
    float: right;
    font-size: 12px; }
    .header-pl .h_cart .cart-toggle {
      /*margin-top: 6px;*/
      border-radius: 5px;
      position: relative;
      padding: 7px 35px 5px 10px;
      display: block;
      border-radius: 5px;
      border: 1px solid #0C713D;
      color: #0C713D;
      background: #fff;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      text-decoration: none;
      cursor: pointer; }
      .header-pl .h_cart .cart-toggle:hover {
        background: #0C713D;
        color: #fff; }
      .header-pl .h_cart .cart-toggle:hover {
        background-color: transparent;
        color: #0C713D; }
      .header-pl .h_cart .cart-toggle span.h_cart__img {
        position: absolute;
        display: block;
        right: 10px;
        top: 7px; }
        .header-pl .h_cart .cart-toggle span.h_cart__img img {
          height: 20px; }
        .header-pl .h_cart .cart-toggle span.h_cart__img i {
          font-size: 20px;
          color: #0C713D; }
        .header-pl .h_cart .cart-toggle span.h_cart__img .number {
          padding-top: 3px;
          position: absolute;
          right: -5px;
          top: -5px;
          background: #0C713D;
          color: #fff;
          width: 15px;
          height: 15px;
          border-radius: 100%;
          text-align: center;
          font-size: 8px; }
      @media only screen and (max-width: 991px) {
        .header-pl .h_cart .cart-toggle {
          border: none;
          margin-top: 0; } }
    @media only screen and (max-width: 991px) {
      .header-pl .h_cart {
        width: 30%; } }
  @media only screen and (max-width: 1199px) {
    .header-pl {
      padding: 5px 0; } }

.h_menu .container {
  position: relative; }
  .h_menu .container .h_menu__btn {
    border: 0;
    box-shadow: none;
    height: 51px;
    position: absolute;
    left: 0;
    top: 0;
    background: #0C713D;
    width: 51px;
    text-align: center;
    z-index: 1;
    display: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out; }
    .h_menu .container .h_menu__btn:focus {
      outline: none; }
    @media only screen and (max-width: 1199px) {
      .h_menu .container .h_menu__btn {
        display: block; } }
    .h_menu .container .h_menu__btn span {
      text-indent: -99999px;
      height: 2px;
      width: 50%;
      margin: 5px auto;
      background-color: #fff;
      display: block; }
      .h_menu .container .h_menu__btn span:first-child {
        transition: top 0.1s ease-in 0.1s, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
        transition: top 0.1s ease-in 0.1s, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s; }
      .h_menu .container .h_menu__btn span:last-child {
        transition: bottom 0.1s ease-in 0.1s, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
        transition: bottom 0.1s ease-in 0.1s, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s; }
  @media only screen and (max-width: 1199px) {
    .h_menu .container .h_menu__box {
      position: fixed;
      overflow: scroll;
      left: -300px;
      top: header_fixed_height_mobile;
      width: 300px;
      background-color: #fff;
      z-index: 2;
      text-align: left;
      height: 100vh;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out; } }
  .h_menu .container .h_menu__main {
    margin-bottom: 0;
    text-align: center;
    position: relative; }
    .h_menu .container .h_menu__main > li {
      display: inline-block;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out; }
      .h_menu .container .h_menu__main > li a {
        display: block;
        padding: 10px 25px;
        text-transform: uppercase;
        color: #666666;
        font-size: 14px; }
        @media only screen and (max-width: 991px) {
          .h_menu .container .h_menu__main > li a {
            text-transform: none; } }
      .h_menu .container .h_menu__main > li > a {
        font-weight: bold; }
        @media only screen and (max-width: 991px) {
          .h_menu .container .h_menu__main > li > a {
            height: 45px;
            line-height: 27px; }
            .h_menu .container .h_menu__main > li > a:hover, .h_menu .container .h_menu__main > li > a:focus {
              border-bottom: 1px solid #6C6C6C; } }
      .h_menu .container .h_menu__main > li .h_menu__sub {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        box-shadow: 1px 2px 3px #ccc; }
        @media only screen and (max-width: 991px) {
          .h_menu .container .h_menu__main > li .h_menu__sub {
            box-shadow: none; } }
        .h_menu .container .h_menu__main > li .h_menu__sub ul {
          background-color: #fff;
          position: relative; }
          .h_menu .container .h_menu__main > li .h_menu__sub ul li {
            text-align: left; }
            .h_menu .container .h_menu__main > li .h_menu__sub ul li .title-1 {
              text-align: left;
              font-size: 20px;
              color: #0C713D;
              text-transform: uppercase;
              font-weight: bold;
              padding: 10px 5px; }
              @media only screen and (max-width: 991px) {
                .h_menu .container .h_menu__main > li .h_menu__sub ul li .title-1 {
                  font-size: 17px; } }
            .h_menu .container .h_menu__main > li .h_menu__sub ul li ul li a {
              display: block;
              text-transform: none;
              text-align: left;
              padding: 5px 0;
              color: #171717;
              font-size: 14px;
              transition: all 0.2s ease-in-out;
              -webkit-transition: all 0.2s ease-in-out;
              -moz-transition: all 0.2s ease-in-out;
              -o-transition: all 0.2s ease-in-out; }
              .h_menu .container .h_menu__main > li .h_menu__sub ul li ul li a:hover {
                color: #fff;
                background-color: #0C713D; }
            .h_menu .container .h_menu__main > li .h_menu__sub ul li ul li .title-2 {
              font-size: 14px;
              text-transform: uppercase;
              color: #161616;
              font-weight: 600; }
        .h_menu .container .h_menu__main > li .h_menu__sub > ul {
          padding: 15px;
          margin-top: 10px;
          /*   p{
                            padding: 10px 15px !important;
                        }*/ }
          .h_menu .container .h_menu__main > li .h_menu__sub > ul > li {
            float: left;
            padding: 0 20px; }
            @media only screen and (max-width: 991px) {
              .h_menu .container .h_menu__main > li .h_menu__sub > ul > li {
                float: none; } }
            .h_menu .container .h_menu__main > li .h_menu__sub > ul > li > ul {
              margin-top: 0; }
          .h_menu .container .h_menu__main > li .h_menu__sub > ul a {
            padding: 7px 15px !important; }
            @media only screen and (max-width: 991px) {
              .h_menu .container .h_menu__main > li .h_menu__sub > ul a {
                padding: 7px !important; } }
          @media only screen and (max-width: 991px) {
            .h_menu .container .h_menu__main > li .h_menu__sub > ul {
              margin-top: 0; } }
        .h_menu .container .h_menu__main > li .h_menu__sub .list-multi > li {
          float: left; }
          @media only screen and (max-width: 991px) {
            .h_menu .container .h_menu__main > li .h_menu__sub .list-multi > li p {
              margin-bottom: 10px; } }
        .h_menu .container .h_menu__main > li .h_menu__sub .list-single > li {
          float: none;
          max-width: 180px; }
        @media only screen and (max-width: 991px) {
          .h_menu .container .h_menu__main > li .h_menu__sub {
            position: relative;
            top: auto; } }
      .h_menu .container .h_menu__main > li.active a {
        color: #0C713D;
        text-decoration: none; }
      .h_menu .container .h_menu__main > li:hover a {
        color: #0C713D;
        text-decoration: none; }
      @media only screen and (min-width: 1200px) {
        .h_menu .container .h_menu__main > li:hover .h_menu__sub {
          display: block; } }
      @media only screen and (min-width: 1200px) {
        .h_menu .container .h_menu__main > li:hover.arrow_bottom:after {
          top: calc(100% - 10px);
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(255, 255, 255, 0);
          border-bottom-color: #fff;
          border-width: 10px;
          margin-left: -10px; } }
      @media only screen and (max-width: 991px) {
        .h_menu .container .h_menu__main > li.arrow_bottom:after {
          position: absolute;
          height: 45px;
          width: 45px;
          color: #0C713D;
          background-color: #fff;
          text-align: center;
          line-height: 45px;
          font-family: FontAwesome;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: '\f107';
          top: 0;
          right: 0;
          font-size: 15px;
          font-weight: 700; }
        .h_menu .container .h_menu__main > li.arrow_bottom.active:after {
          content: '\f106'; } }
      @media only screen and (max-width: 1199px) {
        .h_menu .container .h_menu__main > li {
          position: relative;
          display: block;
          border-bottom: 1px solid #ddd; } }
      .h_menu .container .h_menu__main > li:hover .h_menu__sub {
        display: block; }
    @media only screen and (max-width: 991px) {
      .h_menu .container .h_menu__main {
        text-align: left; } }
  .h_menu .container .h_search {
    position: absolute;
    right: 0;
    top: 0; }
    .h_menu .container .h_search ul.h_search_menu > li {
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out; }
      .h_menu .container .h_search ul.h_search_menu > li > a {
        display: block;
        padding: 7px;
        pointer-events: none;
        cursor: pointer; }
      .h_menu .container .h_search ul.h_search_menu > li .h_menu_search {
        display: none;
        right: 0;
        padding-top: 10px;
        position: absolute; }
        .h_menu .container .h_search ul.h_search_menu > li .h_menu_search ul {
          border-radius: 10px;
          border: 1px solid #ccc;
          overflow: hidden; }
          .h_menu .container .h_search ul.h_search_menu > li .h_menu_search ul li {
            background-color: #fff;
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out; }
            .h_menu .container .h_search ul.h_search_menu > li .h_menu_search ul li a {
              padding: 15px 25px;
              background: none;
              white-space: nowrap;
              text-align: left;
              border-bottom: 1px solid #ccc;
              display: block; }
            .h_menu .container .h_search ul.h_search_menu > li .h_menu_search ul li:hover {
              background-color: #0C713D;
              color: #fff; }
              .h_menu .container .h_search ul.h_search_menu > li .h_menu_search ul li:hover > a {
                color: #fff;
                text-decoration: none; }
            .h_menu .container .h_search ul.h_search_menu > li .h_menu_search ul li:last-child a {
              border-bottom: 0; }
          @media only screen and (max-width: 991px) {
            .h_menu .container .h_search ul.h_search_menu > li .h_menu_search ul {
              border: none;
              border-radius: 0; } }
        @media only screen and (min-width: 1200px) {
          .h_menu .container .h_search ul.h_search_menu > li .h_menu_search:before {
            right: 20px;
            top: -9px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: #ccc;
            border-width: 10px;
            margin-left: -10px; } }
        .h_menu .container .h_search ul.h_search_menu > li .h_menu_search:after {
          content: "";
          position: absolute;
          border: 10px solid transparent;
          border-bottom-color: rgba(65, 65, 65, 0.1);
          border: 8px solid transparent;
          border-bottom-color: #fff;
          top: -5px;
          right: 21px; }
        @media only screen and (max-width: 991px) {
          .h_menu .container .h_search ul.h_search_menu > li .h_menu_search {
            position: relative; } }
      .h_menu .container .h_search ul.h_search_menu > li:hover .h_menu_search {
        display: block; }
    .h_menu .container .h_search ul.h_search_menu.active .h_menu_search {
      display: block; }
    @media only screen and (max-width: 991px) {
      .h_menu .container .h_search {
        position: relative; } }
  @media only screen and (max-width: 991px) {
    .h_menu .container {
      padding: 0; } }

.h_menu .h_menu__overlay {
  display: none; }

.h_menu.active .h_menu__box {
  left: 0; }

.h_menu.active .h_menu__overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(94, 94, 94, 0.43);
  z-index: 1; }

.h_menu.active .h_menu__btn {
  z-index: 2;
  position: fixed;
  left: 0; }
  .h_menu.active .h_menu__btn span {
    position: absolute;
    left: calc(50% - 12.25px); }
    .h_menu.active .h_menu__btn span:first-child {
      top: calc(50% - 5px);
      transition: top 0.1s ease-out 0.12s, -webkit-transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
      transition: top 0.1s ease-out 0.12s, transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .h_menu.active .h_menu__btn span:last-child {
      bottom: calc(50% - 6px);
      transition: bottom 0.1s ease-out 0.12s, -webkit-transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
      transition: bottom 0.1s ease-out 0.12s, transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .h_menu.active .h_menu__btn span:nth-of-type(2) {
      display: none; }

/*update query*/
@media only screen and (max-width: 1199px) {
  .header-pl .h_right {
    width: 34%;
    padding-top: 4px; }
  .header-pl .h_menu .h_menu__btn {
    top: -54px; }
  .header-pl .h_menu.active .h_menu__btn {
    top: 19px; }
  .header-pl .h_logo {
    width: 36%;
    text-align: center;
    z-index: 1; }
  .header-pl .h_account {
    margin-right: 0; }
    .header-pl .h_account > a {
      margin-top: 0; }
      .header-pl .h_account > a span {
        display: none; }
      .header-pl .h_account > a i {
        display: block; } }
  @media only screen and (max-width: 1199px) and (max-width: 991px) {
    .header-pl .h_account {
      float: none; }
      .header-pl .h_account button {
        color: #666666; }
      .header-pl .h_account .menu-item-user-logout {
        height: 33px;
        line-height: 33px; } }

@media only screen and (max-width: 1199px) {
  .header-pl .h_cart {
    margin-top: 7px; }
    .header-pl .h_cart .cart-toggle span.h_cart__text {
      display: none; }
    .header-pl .h_cart .cart-toggle span.h_cart__img {
      top: 1px; } }

@media only screen and (max-width: 1199px) {
  .header-pl.background-primary {
    background-color: rgba(12, 113, 61, 0.9);
    color: #fff; }
    .header-pl.background-primary .h_delivered,
    .header-pl.background-primary .h_logo {
      float: right; }
    .header-pl.background-primary .h_delivered {
      margin-top: 10px; }
    .header-pl.background-primary .h_account > a i {
      color: inherit; }
    .header-pl.background-primary .h_menu__box .h_account > a i {
      color: #0C713D; }
    .header-pl.background-primary .h_cart .cart-toggle {
      background: transparent;
      color: #fff; }
      .header-pl.background-primary .h_cart .cart-toggle span.h_cart__img i {
        color: inherit; }
      .header-pl.background-primary .h_cart .cart-toggle span.h_cart__img .number {
        background: #fff;
        border: 1px solid #fff;
        border-radius: 100%;
        color: #0C713D;
        font-size: 10px;
        line-height: 10px; }
    .header-pl.background-primary .h_menu .container .h_menu__btn {
      background-color: transparent;
      top: -60px;
      width: 60px; }
      .header-pl.background-primary .h_menu .container .h_menu__btn span {
        height: 5px;
        margin: 3px auto;
        border-radius: 3px; }
    .header-pl.background-primary .h_menu.active .h_menu__btn {
      background-color: #0C713D;
      top: 19px; } }

.h_menu .container .h_menu__main > li.has-width .h_menu__sub .list-multi > li {
  width: 100%; }

.h_menu .container .h_menu__main > li#the-menu .h_menu__sub > ul > li {
  width: 50%; }
/*Phuclong*/
#footer {
  padding: 15px 0 10px;
  box-shadow: 1px 2px 3px #ccc;
  border-top: 1px solid #ccc;
  background: #fff; }

.f-bot {
  padding: 20px 0;
  color: #171717; }
  .f-bot .f-copyright {
    margin-top: 3px; }
    .f-bot .f-copyright img {
      max-width: 144px; }
    @media only screen and (max-width: 991px) {
      .f-bot .f-copyright {
        font-size: 12px; } }
  .f-bot .f-social {
    text-align: center; }
    .f-bot .f-social ul {
      margin-top: 20px; }
      @media only screen and (max-width: 767px) {
        .f-bot .f-social ul {
          margin-top: 0; } }
    .f-bot .f-social li {
      display: inline-block;
      margin-right: 25px; }
      @media only screen and (max-width: 991px) {
        .f-bot .f-social li {
          margin-right: 0; } }
      .f-bot .f-social li a {
        display: block;
        padding: 0 15px;
        font-size: 20px;
        color: #6C6C6C;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out; }
        .f-bot .f-social li a:hover {
          color: #161616; }
      .f-bot .f-social li .btn-icon {
        width: 30px; }
        .f-bot .f-social li .btn-icon:after {
          display: none; }
/*maps*/
#home-map {
  background-color: #0C713D; }
  @media (min-width: 992px) and (max-width: 1999px) {
    #home-map .map-info .map-info__list {
      padding: 70px 0 0 70px; } }
  @media only screen and (min-width: 1200px) {
    #home-map .map-info .map-info__list {
      padding: 70px 0 0 70px; } }
  #home-map .map-info .map-info__list .map-chose {
    margin: 30px 0; }
    #home-map .map-info .map-info__list .map-chose > div {
      display: inline-block; }
      @media only screen and (max-width: 991px) {
        #home-map .map-info .map-info__list .map-chose > div {
          width: auto; } }
      @media only screen and (max-width: 991px) {
        #home-map .map-info .map-info__list .map-chose > div .bootstrap-select {
          width: 100%; } }
    #home-map .map-info .map-info__list .map-chose select {
      margin: 0 10px;
      border: 1px solid #0C713D; }
    #home-map .map-info .map-info__list .map-chose button {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 12px; }
    #home-map .map-info .map-info__list .map-chose .btn:focus {
      outline: none !important; }
    @media only screen and (max-width: 991px) {
      #home-map .map-info .map-info__list .map-chose {
        margin: 10px 0; } }
  #home-map .map-info .map-info__list h2 {
    color: #fff; }
  #home-map .map-info .map-info__list h4 {
    font-family: 'Muli', sans-serif;
    color: #fff; }
  #home-map .map-info .map-info__list .map-list-store {
    margin-top: 20px;
    max-height: 330px;
    padding-right: 10px;
    overflow: auto; }
    #home-map .map-info .map-info__list .map-list-store li {
      position: relative;
      margin-bottom: 14px; }
      #home-map .map-info .map-info__list .map-list-store li p {
        margin-bottom: 0;
        overflow: hidden; }
      #home-map .map-info .map-info__list .map-list-store li a {
        display: block;
        float: left;
        padding: 10px 10px 10px 35px;
        background: url("../images/icons/icon_store.svg") no-repeat 0 20px;
        font-size: 16px;
        position: relative;
        width: calc(70% - 35px);
        color: #fff; }
        #home-map .map-info .map-info__list .map-list-store li a a {
          position: static; }
          #home-map .map-info .map-info__list .map-list-store li a a:after {
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            content: "";
            top: 0;
            left: 0;
            z-index: 1; }
        @media only screen and (max-width: 767px) {
          #home-map .map-info .map-info__list .map-list-store li a {
            width: 100%; } }
      #home-map .map-info .map-info__list .map-list-store li button {
        margin-top: 10px;
        width: 28%;
        height: 40px;
        text-transform: none; }
        @media only screen and (max-width: 767px) {
          #home-map .map-info .map-info__list .map-list-store li button {
            margin-left: 35px; } }
  #home-map .map-info .map-info__direction {
    padding: 0; } 
.mini-cart {
  opacity: 0;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
  background: #FFFFFF;
  margin: 10px 0 10px 0;
  min-width: 360px;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out; }
.mb {
  display: none; }

.pc {
  display: block; }
img {
  max-width: 100%; }
.ss-1 {
  background-position: right bottom;
  background-repeat: no-repeat; }

.ss-1 .row {
  padding: 50px 0; }

.ss-1 .row .item {
  position: relative; }

.ss-1 .row .title {
  line-height: normal;
  margin: 0 0 50px;
  color: #0C713D; }

.ss-1 .row-1 .img {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 530px;
  border: 5px solid #fff; }

.ss-1 .row-2 {
  padding: 80px 0; }

.ss-1 .row-2 .text {
  max-width: 480px;
  padding-top: 150px; }

.ss-1 .row-2 .img {
  max-width: 320px;
  border: 5px solid #fff; }
.home-section {
  min-height: inherit !important; }

#home-map {
  background-color: #0C713D; }

#home-map button, #home-map select {
  color: #fff;
  background: none !important;
  border: 1px solid #fff !important; }

#home-map button:hover, #home-map select:hover {
  border-color: #F01B1A !important; }

.page-heading {
  text-align: center; }

.page-heading h1 {
  text-transform: uppercase;
  color: #0C713D; }
.header-pl .h_logo {
  overflow: hidden; }

.banner-entry {
  width: 100%;
  height: 210px;
  object-fit: cover; }








