/*Phuclong*/

#footer{
    padding: 15px 0 10px;
    box-shadow: 1px 2px 3px #ccc;
    border-top: 1px solid #ccc;
    background: #fff;
}
.f-bot{
    padding: 20px 0;
    color: $color7;

    .f-copyright{
        margin-top: 3px;
        img{
            max-width: 144px;
        }
        @include bp-medium {
            font-size: 12px;
        }
    }

    .f-social{
        text-align: center;
        ul{
            margin-top: 20px;
            @include bp-small {
                margin-top: 0;
            }
        }
        li{
            display: inline-block;
            margin-right: 25px;
            @include bp-medium{
                margin-right: 0;
            }

            a{
                display: block;
                padding: 0 15px;
                font-size: 20px;
                color: #6C6C6C;
                @include transition();
                &:hover{
                    color: $color1;
                }
            }
            .btn-icon{
                width: 30px;
                &:after{
                    display: none;
                }
            }
        }
    }
    .f_follow{

        @include bp-medium{
            width: 100%;
            margin-top: 10px;
        }
        label{
            color: #3A3A3A;
            font-size: #{$font-size} + 2px;
            display: block;
            margin-bottom: 10px;
        }
        input{
            border-color: $color-main;
        }
        button{
            @include btn_main();
        }
    }
    .f-language{
        text-align: right;
        margin-top: 3px;
        @include bp-medium{
            margin-top: 10px;
        }


        .lang-wrapper{
            margin-bottom: 15px;
            
            @include bp-medium{
                float: left;
            }
        }
        .lang-item.active{
            font-weight: 600;
            color: $primary-color;
        }

        .stats{
            font-size: 14px;
        }

        @include bp-small {
            text-align: left;
            .lang-wrapper{
                float: none;
            }
        }

    }

}
#footer +.copyright {
    font-size: 0.7em;
    line-height: 1.6;
    padding: 2px 15px 3px;
    color: #8d8d8d;
    > a:hover {
        color: white;
    }
}

#toTop {
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    //border: 1px solid $color-main;
    color : $color-main;
    cursor: pointer;
    display: none;
    text-align: center;
}