.main-full{
    margin-top: $header_fixed_height;
    @include bp-large{
        margin-top:  $header_fixed_height_mobile;
    }
}

.header {
    background: $header-footer-color;
    height: auto;
    color: #FFFFFF;
    position: relative;
    z-index: 500;
    > .menu_toggle {
        display: none;
    }
    > .logo {
        align-self: flex-end;
        z-index: 10;
        margin-top: -1.6vw;
        > .logo-img {
            display: block;
            margin: 0 auto;
            transform: translateY(30%);
            width: 70%;
            > .img-full-width {
                width: auto;
                max-width: 140px;
            }
        }
    }
    > .menubar {
        align-self: flex-end;
    }
    .assist {
        align-items: center;
        justify-content: flex-end;
        .dropdown-menu {
            width: auto;
            min-width: 0;
            white-space: nowrap;
            border-radius: 0;
            margin: 0;
            text-transform: capitalize;
            > li {
                > a {
                    color: black;
                    background: transparent;
                    padding: 5px 12px;
                    &:hover {
                        color: #E97C00;
                    }
                }
                .btn-logout {
                    font-family: $font-primary;
                    display: block;
                    width: 100%;
                    text-align: left;
                    background: transparent;
                    border-radius: 0;
                    padding: 3px 12px;
                    color: black;
                    font-weight: normal;
                    font-size: inherit;
                    text-transform: none;
                    &:hover {
                        color: #E97C00;
                    }
                    > .fa {
                        margin: 0 0.5rem;
                        vertical-align: -2px;
                    }
                }
            }
        }
        > .dropdown {
            > .btn {
                font-size: inherit;
                > .fa-value-1 {
                    font-size: 1.2em;
                    vertical-align: -4px;
                }
            }
        }
        > .btn-icon {
            width: 36px;
            height: 36px;
            > .fa {
                line-height: 38px;
            }
            &.login {
                margin-right: 30px;
                .group-show & {
                    display: none;
                }
            }
        }
        >.lang {
            margin: 0 1rem;
            > .lang-item {
                &:hover,
                &.active {
                    color: $orange-light;
                }
            }
        }
    }
    > .logo-phone {
        padding: 1rem;
        align-self: center;
        >.logo-phone-img {
            display: block;
            margin: 0 auto;
            &:hover {
                animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                transform: translate3d(0, 0, 0);
                backface-visibility: hidden;
                perspective: 1000px;
            }
        }
    }
    .list-inline {
        > .menu-item {
            margin-top: 1rem;
            font-family: $font-secondary;
            font-size: 0.8125rem;
            > a {
                display: block;
                padding: 13px 5px;
                border-radius: 10px 10px 0 0;
                &.active {
                    color: #950E08;
                    background-color: rgba(255, 255, 255, 0.8);
                }
            }
            &:hover {
                > a {
                    color: #950E08;
                    background-color: rgba(255, 255, 255, 0.8);
                }
                > .menulist {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    .menulist {
        visibility: hidden;
        opacity: 0;
        width: 110%;
        position: absolute;
        left: -5%;
        right: 0;
        background: #F4D2D6;
        border-radius: 0 0 20px 20px;
        z-index: 99;
        transition: all 0.2s linear;
        > ul {
            text-align: center;
        }
        li {
            display: inline-block;
            padding: 10px;
            overflow: hidden;
            .menulist-img {
                max-width: 6.25rem;
                margin: 0 auto 10px;
                transition: all 0.2s ease-in 0s;
                display: inline-block;
                vertical-align: middle;
            }
            h5 {
                color: #411e10;
                font-family: $font-secondary;
                font-size: 0.75rem;
            }
            &:hover .menulist-img {
                transform: scale(1.2) translateZ(0);
            }
        }
    }
}

/*phuc long*/


.header-pl{
    position: fixed;
    width: 100%;
    background-color: $color8;
    top: 0;
    box-shadow: 1px 2px 3px $color9;
    z-index: 999;
    .h_top{
        border-bottom: 3px solid #F5F5F5;
        padding: 10px 0 5px;
        position: relative;

        }
    .h_delivered{

        width: 20%;
        float: left;
        padding-top: 10px;
        a:hover{
            img{
                @extend %shake;
            }
        }
        @include bp-medium{
            width: 30%;
            margin-top: 0;
            padding-top: 0;
        }
    }
    .h_logo{
        width: 50%;
        float: left;
        position: relative;
        display: block;
        /*height: 68px;*/
        height: 50px;
        .h_logo__img{
            height: 100px;
            width: 100%;
            @include bp-large-up{
             /*   position: absolute;
                top: -10px;*/
            }
        }
        img{
            /*height: 70px;*/
            /*max-width: 100px;*/
            max-width: 70px;
            @include bp-medium{
                position: relative;
                left: auto;
                top: auto;
                margin: 0 auto ;
              /*  height: 50px;
                width: 60px;*/
            }
        }

    }
    .h_right{
        width: 30%;
        float: right;
        padding-top: 10px;

    }
    .h_account{
        float: right;
        font-size: 14px;
        margin-top: 7px;
        margin-right: 65px;
        /*logged in*/
        .btn.dropdown-toggle{
            color: inherit;
            text-transform: none;
        }
        > a{
            /*margin-top: 15px;*/
            float: left;
            padding: 0 10px;
            font-weight: 700;
            span{
                display: block;

            }
            i{
                font-size: 20px;
                color: $color-main;
                display: none;

            }

        }
        @include clearfix;
        @include bp-medium {
            color: $color2;
        }

    }
    .h_cart{
        float: right;
        font-size: 12px;
        .cart-toggle {
            /*margin-top: 6px;*/
            border-radius: 5px;
            position: relative;
            padding: 7px 35px 5px 10px;
            display: block;
            @include btn_trans;
            &:hover{
                background-color: transparent;
                color: $color-main;
            }
            cursor: pointer;

            span.h_cart__img {
                position: absolute;
                display: block;
                right: 10px;
                top: 7px;
                img{
                    height: 20px;
                }
                i{
                    font-size: 20px;
                    color: $color-main;
                }
                .number {
                    padding-top: 3px;
                    position: absolute;
                    right: -5px;
                    top: -5px;
                    background: $bg-color-main;
                    color: $color8;
                    width: 15px;
                    height: 15px;
                    border-radius: 100%;
                    text-align: center;
                    font-size: 8px;
                }

            }
            @include bp-medium {
                border: none;
                margin-top: 0;
            }
        }
        @include bp-medium{
            width: 30%;
        }
    }

    @include bp-large{
        padding: 5px 0 ;
    }
}

.h_menu{
    .container {
        position: relative;
        .h_menu__btn{
            border: 0;
            box-shadow: none;
            height: 51px;
            position: absolute;
            left: 0;
            top: 0;
            background: $bg-color-main;
            width: 51px;
            text-align: center;
            z-index: 1;
            display: none;

            &:focus{
                outline: none;
            }

            @include transition();
            @include bp-large-up{
            }
            @include bp-large{
                display: block;
            }

            span{
                text-indent: -99999px;
                height: 2px;
                width: 50%;
                margin: 5px auto;
                background-color: $color8;
                display: block;
                &:first-child{
                    transition: top .1s ease-in .1s,transform .1s cubic-bezier(.55,.055,.675,.19) 0s;
                }
                &:last-child{
                    transition: bottom .1s ease-in .1s,transform .1s cubic-bezier(.55,.055,.675,.19) 0s;
                }
            }
        }
        .h_menu__box{
            @include bp-large {
                position: fixed;
                overflow: scroll;
                left: -#{$width_menu_mobile};
                top: #{header_fixed_height_mobile};
                width: #{$width_menu_mobile};
                background-color: $color8;
                z-index: 2;
                text-align: left;
                height: 100vh;
                @include transition();
            }
        }
        .h_menu__main {
            margin-bottom: 0;
            text-align: center;
            position: relative;
            > li {
                display: inline-block;
                a {
                    display: block;
                    padding: 10px 25px;
                    text-transform: uppercase;
                    @include bp-medium{
                        text-transform: none;
                    }

                    color: $color2;
                    font-size: #{$font-size}px;
                }
                > a {
                    font-weight: bold;
                    @include bp-medium{
                        height: 45px;
                        line-height: 27px;
                        &:hover, &:focus{
                            border-bottom: 1px solid $color3;
                        }
                    }
                }
                .h_menu__sub{
                    display: none;
                    width: 100%;
                    position: absolute;
                    top:100%;
                    left: 0;
                    box-shadow: 1px 2px 3px $color9;
                    @include bp-medium{
                        box-shadow: none;
                    }
                    ul{
                        background-color: #fff;
                        position: relative;
                        @include clearfix;
                        li {
                            text-align: left;
                            .title-1{
                                text-align: left;
                                font-size: 20px;
                                color: $color-main;
                                text-transform: uppercase;
                                font-weight: bold;
                                padding: 10px 5px;
                                @include bp-medium{
                                    font-size: 17px;
                                }
                            }
                            ul{
                                li{
                                    a{
                                        display: block;
                                        text-transform: none;
                                        text-align: left;
                                        padding: 5px 0;
                                        color: #171717;
                                        font-size: #{$font-size}px;
                                        @include transition();
                                        &:hover{
                                            color: $color8;
                                            background-color: $bg-color-main;
                                        }
                                    }

                                   .title-2{
                                        font-size: #{$font-size}px;
                                        text-transform: uppercase;
                                        color: $color1;
                                       font-weight: 600;
                                    }
                                }
                            }
                        }
                    }
                    >ul{
                        padding: 15px;
                        margin-top: 10px;
                        >li{
                            float: left;
                            padding: 0 20px;
                            @include bp-medium{
                                float: none;
                            }
                            > ul{
                                margin-top: 0;
                            }
                        }
                     /*   p{
                            padding: 10px 15px !important;
                        }*/
                        a{
                            padding: 7px 15px !important;
                            @include bp-medium{
                                padding: 7px !important;
                            }
                        }
                        @include bp-medium{
                            margin-top: 0;
                        }
                    }
                    .list-multi{
                        > li{
                            float: left;

                            p{
                                @include bp-medium{
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                    .list-single{
                        > li{
                            float: none;
                            max-width: 180px;
                        }
                    }
                    @include bp-medium{
                        position: relative;
                        top: auto;
                    }
                }
                @include transition();
                &.active{
                    a {
                        color: $color-main;
                        text-decoration: none;
                    }
                }
                &:hover {
                    a {
                        color: $color-main;
                        text-decoration: none;
                    }
                    .h_menu__sub{
                        @include bp-large-up{
                            display: block;
                        }
                    }
                    &.arrow_bottom:after {
                        @include bp-large-up {
                            top: calc(100% - 10px);
                            border: solid transparent;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                            border-color: rgba(255, 255, 255, 0);
                            border-bottom-color: #fff;
                            border-width: 10px;
                            margin-left: -10px;
                        }
                    }
                }
                @include bp-medium {
                    &.arrow_bottom {
                        &:after{
                            position: absolute;
                            height: 45px;
                            width: 45px;
                            color: $bg-color-main;
                            background-color: $color8;
                            text-align: center;
                            line-height: 45px;
                            font-family: FontAwesome;
                            text-rendering: auto;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            content: '\f107';
                            top: 0;
                            right: 0;
                            font-size: 15px;
                            font-weight: 700;

                        }
                        &.active:after{
                            content: '\f106';
                        }
                    }
                }
                @include bp-large {
                    position: relative;
                    display: block;
                    border-bottom: 1px solid #ddd;
                }
                &:hover{
                    .h_menu__sub{
                        display: block;
                    }
                }
            }
            @include bp-medium {
                text-align: left;
            }
        }
        .h_search {
            position: absolute;
            right: 0;
            top: 0;
            ul.h_search_menu {
                > li {
                    >a{
                        display: block;
                        padding: 7px;
                        pointer-events: none;
                        cursor: pointer;
                    }
                    .h_menu_search{
                        display: none;
                        right: 0;
                        padding-top: 10px;
                        position: absolute;
                        ul{
                            border-radius: 10px;
                            border: 1px solid #ccc;
                            overflow: hidden;
                            li{
                                background-color: $color8;
                                a {
                                    padding: 15px 25px;
                                    background: none;
                                    white-space: nowrap;
                                    text-align: left;
                                    border-bottom: 1px solid $color9;
                                    display: block;
                                }
                                @include transition();
                                &:hover {
                                    background-color: $bg-color-main;
                                    color: $color8;
                                    > a {
                                        color: $color8;
                                        text-decoration: none;
                                    }
                                }
                                &:last-child{
                                    a{
                                        border-bottom: 0;
                                    }
                                }
                            }
                            @include bp-medium{
                                border: none;
                                border-radius: 0;
                            }
                        }
                        &:before {
                            @include bp-large-up{
                                right: 20px;
                                top: -9px;
                                border: solid transparent;
                                content: " ";
                                height: 0;
                                width: 0;
                                position: absolute;
                                pointer-events: none;
                                border-bottom-color: #ccc;
                                border-width: 10px;
                                margin-left: -10px;
                            }
                        }
                        &:after{
                            content: "";
                            position: absolute;
                            border: 10px solid transparent;
                            border-bottom-color: rgba(65, 65, 65, 0.1);
                            border: 8px solid transparent;
                            border-bottom-color: #fff;
                            top: -5px;
                            right: 21px;
                        }
                        @include bp-medium{
                            position: relative;
                        }
                    }
                    @include transition();
                    &:hover{
                        .h_menu_search{
                            display: block;
                        }
                    }
                }
                &.active{
                    .h_menu_search {
                        display: block;
                    }
                }
            }
            @include bp-medium{
                position: relative;
            }

        }
        @include bp-medium{
            padding: 0;
        }
    }
    .h_menu__overlay{
        display: none;
    }
    &.active{
        .h_menu__box{
            left: 0;
        }
        .h_menu__overlay{
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(94, 94, 94, 0.43);
            z-index: 1;
        }
        .h_menu__btn{
            z-index: 2;
            position: fixed;
            // left: #{$width_menu_mobile};
            left: 0;
            span{
                position: absolute;
                left: calc(50% - 12.25px) ;
                &:first-child{
                    top: calc(50% - 5px);
                    transition: top .1s ease-out .12s,transform .1s cubic-bezier(.215,.61,.355,1) .22s;
                    transform: rotate(-45deg);
                }
                &:last-child{
                    bottom: calc(50% - 6px);
                    transition: bottom .1s ease-out .12s,transform .1s cubic-bezier(.215,.61,.355,1) .22s;
                    transform: rotate(45deg);
                }
                &:nth-of-type(2){
                    display: none;
                }
            }
        }
    }
}


/*update query*/
.header-pl{

    @include bp-large{

        .h_right{
            width: 34%;
            padding-top: 4px;
        }

        .h_menu{
            .h_menu__btn{
                top: -54px;
            }
            &.active .h_menu__btn{
                top: 19px;
            }
        }

        .h_logo{
            width: 36%;
            text-align: center;
            z-index: 1;
        }

        .h_account {
            margin-right: 0;
            > a {
                margin-top: 0;
                span {
                    display: none;
                }
                i {
                    display: block;
                }

            }
            @include bp-medium {
                float: none;

                button{
                    color: $color2;
                }

                .menu-item-user-logout{
                    height: 33px;
                    line-height: 33px;
                }
            }
        }
        .h_cart {
            margin-top: 7px;
            .cart-toggle span.h_cart__text{
                display: none;
            }
            .cart-toggle span.h_cart__img{
                top: 1px;
            }
        }
    }

    &.background-primary{

        @include bp-large{
            //background-color: rbga($color-main, 0.9);
            background-color: rgba(12, 113, 61,0.9);
            color: #fff;

            .h_delivered,
            .h_logo{
                float: right;
            }
            .h_delivered{
                margin-top: 10px;
            }

            .h_account > a i{
                color: inherit;
            }

            .h_menu__box .h_account > a i{
                color: $color-main;
            }

            .h_cart .cart-toggle{
                background: transparent;
                color: #fff;
                span.h_cart__img i{
                    color: inherit;
                }
                span.h_cart__img .number{
                    background: #fff;
                    border: 1px solid #fff;
                    border-radius: 100%;
                    color: $color-main;
                    font-size: 10px;
                    line-height: 10px;
                }
            }
            .h_menu {
                .container .h_menu__btn{
                    background-color: transparent;
                    top: -60px;
                    width: 60px;
                    span{
                        height: 5px;
                        margin: 3px auto;
                        border-radius: 3px;
                    }
                }
                &.active .h_menu__btn{
                    background-color: $color-main;
                    top: 19px;
                }
            }
        }
    }
}




@mixin header-lg {
    #btn-toggle:checked + .side-menu {
        transform: translateX(0);
    }
    #btn-toggle:checked ~ .menu-backdrop {
        display: block;
    }
    .side-menu {
        width: 100%;
        position: fixed;
        transform: translateX(-100%);
        transition: all .2s linear;
        z-index: 505;
        font-family: $font-secondary;
        >.menu {
            background-color: #353535;
            width: 60%;
            max-width: 250px;
            height: 100vh;
            padding-bottom: 2rem;
            overflow-x: hidden;
            overflow-y: auto;
            position: relative;
            z-index: 2;
            >.btn-close {
                color: #fff;
                justify-content: flex-end;
                .fa {
                    font-size: 30px;
                    cursor: pointer;
                }
            }
            > .lang-xs {
                padding: 10px;
                margin-top: -10px;
                font-family: $font-primary;
                > .active {
                    color: $orange-light;
                }
            }
            >ul {
                text-transform: uppercase;
                color: #fff;
                font: $font-secondary;
                text-align: center;
                a {
                    display: block;
                    padding: 10px;
                }
            }
            .sub-menu {
                display: none;
                padding: 5px 0;
                background-color: #000000;
                color: #F4D069;
                a {
                    padding: 0.5rem;
                    margin: 0;
                }
            }
            .social {
                display: inline-block;
                margin: 10px 10px 0;
                background-color: #fff;
                width: 40px;
                height: 40px;
                text-align: center;
                >.fa {
                    color: #353535;
                    line-height: 44px;
                }
            }
        }
        > .menu-backdrop {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
    .header {
        align-items: center;
        text-align: left;
        .menu_toggle {
            display: block;
            >.btn-toggle {
                padding: 10px 10px 5px 0;
                cursor: pointer;
            }
        }
        .menubar {
            display: none;
        }
        > .logo {
            align-self: center;
            margin-top: 0;
            > .logo-img {
                transform: translateY(0);
                > .img-full-width {
                    width: 100%;
                    max-width: 120px;
                }
            }
        }
        .logo-phone {
            align-self: center;
        }
    }
}

.h_menu .container .h_menu__main > li.has-width .h_menu__sub .list-multi > li {width: 100%}

.h_menu .container .h_menu__main > li#the-menu .h_menu__sub > ul > li{
    width: 50%;
     @include bp-medium {
        width: 100%;
     }
}

.h_menu .container .h_menu__main > li .h_menu__sub li{
    @include bp-medium {
        width: 100%;
    }
}

.h_menu .container .h_menu__main > li#the-menu .h_menu__sub {
    width: 66.667%;
    left: auto;
    right: 0;
    > li{
        width: 50%;

    }
    @include bp-medium {
        width: 100%;
    }
   
}


